---
- name: Clone dotfiles repository
  git:
    repo: "{{ base__dotfiles_repo }}"
    dest: "{{ ansible_env.HOME }}/.dotfiles"
    version: main
    update: true

- name: Run dotfiles installer
  command: >
    bash install_linux.sh
    --yes
    --preset {{ base__dotfiles_preset }}
  args:
    chdir: "{{ ansible_env.HOME }}/.dotfiles"
  register: dotfiles_result
  changed_when: "'installed' in dotfiles_result.stdout or 'Installed' in dotfiles_result.stdout"

- name: Set default shell to fish
  become: true
  user:
    name: "{{ ansible_user }}"
    shell: "{{ base__default_shell }}"
