---
- name: Include OS-specific variables
  include_vars: "{{ ansible_os_family | lower }}.yml"
  tags: [base]

- name: Install bootstrap packages
  package:
    name: "{{ base__bootstrap_packages }}"
    state: present
  become: true
  tags: [base]

- name: Configure locales
  import_tasks: configure.yml
  become: true
  tags: [base]

- name: Setup dotfiles
  import_tasks: dotfiles.yml
  become: false
  tags: [base, dotfiles]
